<div class="row">

  <div class="col-md offset-md-2">

    <p id="notice"><%= notice %></p>
    <h1>Mascota: <%= @pets.name %></h1>
    <p>
      <strong>Peso:</strong>
      <%= @pet_history.weigth %>
    
    </p>

    <p>
      <strong>Altura:</strong>
      <%= @pet_history.height %>
    </p>

    <p>
      <strong>Diagnostico:</strong>
      <%= @pet_history.diagnosis %>
    </p>

    


    <%= link_to 'Editar', edit_pet_history_path(@pet_history) %> |
    <%= link_to 'Volver', pets_path %>
  </div>
</divs>
