
<div class="row-3 container">
  <div class="col-md-8 offset-md-2">
  <p id="notice"><%= notice %></p>
    <h1>Clientes</h1><hr>

    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Phone</th>
          <th>Email</th>
          <th>Mascotas</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @clients.each do |client| %>
          <tr>
            <td><%= client.name %></td>
            <td><%= client.phone %></td>
            <td><%= client.email %></td>
            <td><%= client.pet_client %></td>
            <td><%= link_to 'Mostrar', client %></td>
            <td><%= link_to 'Editar', edit_client_path(client) %></td>
            <td><%= link_to 'Destruir', client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>
    <%= link_to 'Nuevo Cliente', new_client_path, class:"btn btn-success" %>
     <%= link_to 'Historial Mascotas', pets_path, class:"btn btn-primary" %>
  </div>
</div>